***COMPILING***
Compile your code with c++ and the flags -Wall -Wextra -Werror
Your code should still compile if you add the flag -std=c++98

***FORMATTING***
class names in UpperCamelCase format
Files containing class code --> name according to the class name:
     e.g.: ClassName.hpp/ClassName.h, ClassName.hpp or ClassName.tpp
    header file with definition of class "BrickWall" --> BrickWall.hpp

*****Namespaces*****
using namespace std;
Namensraum „std“ heißt so viel wie Standard.
Wenn etwas in diesem Namensraum steht,
dann gehört es zur C++-Standardbibliothek
& die sollten Sie (i.d.R.) wann immer möglich einsetzen.
Wenn bspw. ein Objekt benutzt werden soll
das im Namensraum „std“ liegt,
wird ihm „std::“ vorangestellt.
Die beiden Doppelpunkte heißen Bereichsoperator.

*****classes*****

member functions
stdio streams
initialization lists
static
const
and some other basic stuff